*.obj
*.exe
*.pdb
*.user
*.nrproj
*.aps
*.pch
*.vspscc
*.scc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.zip
*.rar
*.chm
*.snk
*.sdf
.DS_Store
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.vsdoc
*.pidb
*.userprefs
*.opensdf
*.tmp_proj
*.unityproj
*_S.XML
$tf/
.svn/
[Oo]bj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Dd]esktop.ini
#ChromiumTabs Specific
ChromiumTabs/*.*
Interfaces/*.dll